#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Use graphical install
# graphical
text
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=enp0s3 --ipv6=auto --activate
network  --bootproto=dhcp --device=enp0s8 --onboot=off --ipv6=auto --activate
network  --hostname=server2.lab

# Root password
rootpw --iscrypted $6$M/4kRgT6YKQEXQQT$wZYmwiMruceyxK.FWJRgMsUxp07Apggk0DdkK9V2jz5zIJxXipdwVU9Tf49pE2FcJfc9T123a3/cEfGUWaTKG.
# System services
services --disabled="chronyd"
# System timezone
timezone Asia/Bangkok --isUtc --nontp
user --groups=wheel --name=suparuek --password=$6$y7LT6GdmdU5I6cxg$WeVNIk.ymzomSol1dNxSn2W3paoDF4h3ah1qB19nMRZ3VMnBpX7/OFQKh/v6htqlIhm3EuWhCK2XwjeJbkR6P/ --iscrypted --gecos="suparuek"
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
autopart --type=lvm
# Partition clearing information
#clearpart --none --initlabel
clearpart --all --drives=sda

# Selinux State
selinux --permissive


%packages
@^minimal
@core
@Development Tools
openssh-clients
kexec-tools
rsync
screen
net-tools
curl
wget
git
elinks
vim
nmap-ncat
iotop
iptraf-ng
net-snmp-utils
telnet
policycoreutils-python
sudo
make
perl


%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
